#banner
  .banner_content
  %h1 WriterDoc
  %p Write with freedom. Organized, always.
  %button= link_to "Join now!", new_user_registration_path
  
#callouts
  .callout_inner
    .wrapper
      .callout
      %h2 WriterDoc, write with freedom!
      
      
      %h4 Contact the creator!
      %p iiRosie1 on Roblox, @iiRosie1RBX on Twitter, @iiRosie1 on Instagram, @iiRosie1#1335 on Discord. Rose Chen created WriterDoc on 11/24/2018. It is currently used on the world-wide web.
#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now!", new_user_registration_path